ListView
{
    width: 80%;
    margin-top: 16;
    opacity: 0;
}
    ListView Image
    {
        height: 15;
        vertical-align: center;
        margin-left: 10;
        margin-right: 5;
    }
    /* .landscape ListView Label
    {
        color: yellow;  Just testing the .landscape styling : doesn't work...
    } */
Image
{
    margin-top: 5;
    margin-bottom: 20;
}
Button
{
    background-color: #b71c1c;
    color: white;
    width: 80%;
    height: 55;
    margin: 10 0 5 0;
    padding: 5 5;
}
GridLayout StackLayout
{
    background-color: #D32F2F;
    padding: 5;
    margin-right: 8;
}