.playlist
{
    padding: 5;
    margin-top: 20;
    width: 85%;
    /*margin: 10 60 10 10; This works - in that in landscape looks good (the footer is the bad bit). Doesn't in portrait.*/
}
    .playlist Image
    {
        height: 15;
        vertical-align: center;
        margin-left: 10;
        margin-right: 5;
    }
    .playlist Label
    {
        color: white;
    }
    /* landscape doesn't seem to work at all for styling :-| */
    .landscape .playlist
    {
        margin: 10 60 10 10;
    }
    .landscape .playlist Label
    {
        color: yellow; /* Just testing the .landscape styling : doesn't work...*/
    }
Image
{
    margin-top: 5;
    margin-bottom: 20;
}
/* Just cannot get button same width as list :-| */
Button
{
    background-color: #b71c1c;
    color: white;
    width: 250;
    margin: 10 0 0 0;
    padding: 5 10;
}
.delete-container
{
    background-color: #D32F2F;
    padding: 5;
    margin-right: 8;
}